/* LAST MODIFIED: 04/19/2025*/
/* Utiliza este archivo para crear los estilos de los componentes*/


/* HEADER WRAPPER */
.headerWrapper{
 padding: 0.5rem;
 background-color: var(--color1);
 color: white;
 text-align: center;
 text-transform: uppercase;
}
.headerWrapper > h1,
.headerWrapper > h2,
.headerWrapper > h3,
.headerWrapper > h4,
.headerWrapper > h5,
.headerWrapper > p{
 margin: 0.7rem 0 !important; /* tiene prioridad sobre estilos de la UNAH y de media queries*/
 width: 95%;
}
/* HEADER WRAPPER */

/* IMAGE WRAPPER */
.imageWrapper{
 display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.imageWrapper img{
 display: block;
 margin: auto;
}

.imgHorizontal img{
 max-width: 50vw;
}

.imgVertical img{
 max-height: 70vh;
}

.imgCuadrada  img{
 max-width: 30vw;
}
/* IMAGE WRAPPER */

/* HORIZONTAL CARD */
.horizontalCard{
 display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
 width: 80%;
 margin: 2rem auto;
 padding: 2rem;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.horizontalCard img{
 max-width: 100px;
 margin-bottom: 1rem;
}

.horizontalCard h2,
.horizontalCard h3,
.horizontalCard h4,
.horizontalCard h5 {
 text-transform: uppercase;
 color: var(--color1);
}

.horizontalCard p{
 margin: 1rem 0 0 0;
 padding: 0 2rem;
 text-align: center;
}
/* HORIZONTAL CARD */

/* VERTICAL CARD */
.verticalCardWrapper{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 3rem 1.5rem;
 padding: 2rem 0;
}

.verticalCard{
 display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
 width: 350px;
 padding: 3rem 2rem;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background: white;
}

.verticalCard img{
 max-width: 100px;
 margin-bottom: 1rem;
}
.verticalCard > h1,
.verticalCard > h2,
.verticalCard > h3,
.verticalCard > h4,
.verticalCard > h5{
 text-transform: uppercase;
 text-align: center;
}
.verticalCard h2,
.verticalCard h2,
.verticalCard h3,
.verticalCard h4,
.verticalCard h5 {
 color: var(--color1);
}

.verticalCardContent{
 width: 100%;
 margin-bottom: auto;
 text-align: left;
}
.verticalCardContent h3{
 margin: 2rem 0 0 0;
 text-align: left;
}

.verticalCardContentItem{
 margin: 0.5rem 1rem 0 0;
}
.verticalCardContentItem *{
 margin: 0;
}
/* VERTICAL CARD */

/* NAVBOX */
.navbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 1.5rem; */
  background: var(--color4);
}

.navboxItem{
  display: flex;
	 flex-flow: column nowrap;
	 align-items: center;
  width: 200px;
  padding: 1rem 1.75rem;
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease;
}

.navboxIconWrapper {
  display: flex;
	 flex-flow: column nowrap;
	 justify-content: center;
	 align-items: center;
  width: 128px;
  padding: 2rem;
  margin: 1rem auto 0 auto;
  border-radius: 50%;
  background: var(--color1);
}

.navboxText{
 font-size: 1.2rem;
 line-height: 1 !important; /*tiene prioridad sobre los estilos de la UNAH*/
 margin: 1rem auto;
}

.currentPage{
 background: #2790a4;
}
.currentPage div{
 background: #7ebfda;
}

.navboxItem:hover{
 background: #2790a4;
 color: white;
}
/* NAVBOX */


.info-buttons {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin: 2rem 0;
 gap: 1rem;
}

.info-btn {
 padding: 1rem 2rem;
 border: none;
 color: white;
 font-weight: bold;
 cursor: pointer;
 border-radius: 6px;
 font-size: 1rem;
 min-width: 180px;
 transition: background-color 0.3s ease;
}


/* MEDIA QUERIES (BASADAS EN UNAH) */
@media (max-width:480px){
/* IMAGE WRAPPER */
.imgHorizontal img{
 max-width: 100%;
}
.imgVertical img{
 max-height: 50vh;
}
.imgCuadrada img{
 max-width: 100%;
}
/* IMAGE WRAPPER */

/* HORIZONTAL CARD */
.horizontalCard{
 width: 90%;
 margin: 2rem auto;
 padding: 2rem 1rem;
}
.horizontalCard img{
 max-width: 140px;
}
.horizontalCard h2,
.horizontalCard h3,
.horizontalCard h4,
.horizontalCard h5 {
text-align: center;
}
.horizontalCard p{
 text-align: justify;
 padding: 0;
}
/* HORIZONTAL CARD */

/* VERTICAL CARD */
.verticalCardWrapper{
 gap: 2rem 1.5rem;
}

.verticalCard{
 padding: 2rem 1rem;
}

.verticalCard img{ 
 margin-bottom: 0.5rem;
 margin-right: auto;
}
.verticalCard > h1,
.verticalCard > h2,
.verticalCard > h3,
.verticalCard > h4,
.verticalCard > h5{
 text-transform: uppercase;
 text-align: left;
}
/* VERTICAL CARD */

/*NAVBOX*/
.navbox{
 flex-direction: column;
 align-items: center;
}

.navboxItem{
 flex-direction: row;
 width: 100%;
 padding: 1rem;
}
.navboxIconWrapper{
 width: 80px;
 padding: 0.9rem;
 margin: 0 1rem 0 0;
}
.navboxText{
 width: 100%;
 font-size: 1.1rem;
 text-align: left !important; /*tiene prioridad sobre estilos de normal-cont (mejor borremos esa clase, no la usamos)*/
}
/*NAVBOX*/
}

@media (min-width:481px) and (max-width: 768px){
/* IMAGE WRAPPER */
.imgHorizontal img{
 max-width: 80%;
}
.imgCuadrada img{
 max-width: 80%;
}
/* IMAGE WRAPPER */

/* HORIZONTAL CARD */
.horizontalCard{
 width: 90%;
 margin: 2rem auto;
 padding: 2rem 1rem;
}
/* HORIZONTAL CARD */

/*NAVBOX*/
.navbox{
 flex-direction: column;
 align-items: center;
}

.navboxItem{
 flex-direction: row;
 width: 100%;
 padding: 1rem;
}
.navboxIconWrapper{
 width: 80px;
 padding: 0.9rem;
 margin: 0 1rem 0 0;
}
.navboxText{
 width: 100%;
 font-size: 1.1rem;
 text-align: left;
}
/*NAVBOX*/
}

@media (min-width: 769px){

}
/* MEDIA QUERIES (BASADAS EN UNAH) */
