/* LAST MODIFIED: 04/17/2025*/
/* Utiliza este archivo para crear los estilos de los componentes*/


/* HEADER WRAPPER */
.headerWrapper{
 padding: 0.6rem 0;
 background-color: var(--color1);
 color: white;
 text-align: center;
 text-transform: uppercase;
}
.headerWrapper > h1,
.headerWrapper > h2,
.headerWrapper > h3,
.headerWrapper > h4,
.headerWrapper > h5,
.headerWrapper > p{
 width: 90%;
 margin: 0.7rem 0 !important; /* tiene prioridad sobre estilos de la UNAH y de media queries*/
}
/* HEADER WRAPPER */


/* MEDIA QUERIES (BASADAS EN UNAH) */
@media (max-width:480px){

}

@media (min-width:481px) and (max-width: 768px){

}

@media (min-width: 769px){

}
/* MEDIA QUERIES (BASADAS EN UNAH) */