/* LAST MODIFIED: 04/17/2025*/
/* Utiliza este archivo para crear los estilos de los componentes*/


/* HEADER WRAPPER */
.headerWrapper{
 padding: 0.5rem 0 0.5rem 0;
 background-color: var(--color1);
 color: white;
 text-align: center;
 text-transform: uppercase;
}
/* HEADER WRAPPER */


/* MEDIA QUERIES (BASADAS EN UNAH) */
@media (max-width:480px){

}

@media (min-width:481px) and (max-width: 768px){

}

@media (min-width: 769px){

}
/* MEDIA QUERIES (BASADAS EN UNAH) */