/* LAST MODIFIED: 04/17/2025*/
*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
br{
	user-select: none;
}
body{
	scroll-behavior: smooth;
}

.normal-cont{
	padding: 4rem 5vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.flexContainer{
 display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.padding0{
 padding: 0 !important; /*asegura que el objeto no tenga padding!*/
}
.margin0{
 margin: 0 !important; /*asegura que el objeto no tenga margenes!*/
}
.width100{
 width: 100% !important; /*asegura que el objeto ocupe todo el espacio horizontal disponible!*/
}

/*Colores globales*/
:root{
	font-size: 14px;
	--white: #ffffff;
	--black:#000000;
	--gray1: #434343; 
	--gray2:#6e6e73;
	--gray3:#a1a1a6;
	--gray4: #f2f2f2; 
 --color0: #000A39;
	--color1: #003775;
	--color2: #FFCB07;
	--color3: #F26521;
	--color4: #10AAC3;
	--color5: #8DC63F;
}
/*Colores globales*/

/*Text Styles*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700 !important; /*Prioriza nuestros estilos sobre los de la UNAH (bootstrap-unah.css) */
	letter-spacing: -.035em;
	line-height: 1.1em;
	margin:0.5rem 0;
}

/* .h1{
	font-size: 3.8rem;
}
.h2{
	font-size: 2.4rem;
}
.h3{
	font-size: 1.5rem;
	margin:0.25rem 0;
}
.subh{
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.p{
	font-size: 1.1rem;
	line-height: 1.5rem;
	color: var(--gray1);
}
 */

/* El tamaño del texto esta heredado de los estilos de la UNAH (theme-portalunah.css) */

.light{
	font-weight: 200;
}
.normal{
	font-weight: normal;
}
.medium{
 font-weight: 500;
}
.semibold{
	font-weight: 600;
}
.bold{
	font-weight: 700;
}

.italic{
	font-style: italic;
}
.underline{
 text-decoration: underline;
}
.line-through{
 text-decoration: line-through;
}
.center{
	text-align: center !important; /*!important asegura que el texto siempre quede centrado!*/
}
.left{
 text-align: left;
}
.justify{
 text-align: justify;
}
.link{
	color: var(--color4);
	text-decoration: none;
}
.link-gray1{
	color: var(--gray1);
	text-decoration: none;
}
.link:hover,.link:focus, .link-gray1:hover,.link-gray1:focus{
	text-decoration: underline;
}
.link i {
	transform: scale(0.9);
	margin-left: 0.1em;
}

.label{
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.06em;
	line-height: 1.4rem;
	opacity: 0.6;
	text-transform: uppercase;
	user-select: none;
}
.label-light{
	font-size: 0.7rem;
	font-weight: 400;
	letter-spacing: 0.06em;
	line-height: 1.4rem;
	opacity: 0.6;
	text-transform: uppercase;
	user-select: none;
}
/*Text Styles*/

/*Butons*/
.customBtn{
	background: none;
	border:none;
	padding: 1rem;
}

.customBtn a{
	display: block;
	padding: 0.5em 1em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.05rem;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	border-radius: 500px;
	transition: 
	transform 10ms ease,
	box-shadow 100ms ease,
	background 150ms ease,
	color 150ms ease;
}

.customBtn:active, .customBtn a:active{
	transform: scale(0.95);
}
.paddingL{
	padding: 1rem 1rem 1rem 0;
}

.paddingR{
	padding: 1rem 0rem 1rem 1rem;
}

.dark1 a{
	border: solid 2px var(--black);
	color: var(--black);
}
.dark1 a:hover, .dark1 a:focus{
	background: var(--black);
	color: var(--white);
}

.light1 a{
	border: solid 2px var(--white);
	color: var(--white);
}
.light1 a:hover, .light1 a:focus{
	background: var(--white);
	color: var(--black);
}

.light2 a{
	border: solid 2px var(--white);
	background: var(--white);
	color: var(--black);
}
.light2 a:hover, .light2 a:focus{
	background: var(--color1);
	border: solid 2px var(--color1);
	color: var(--white);
}

.success a{
	border: solid 2px var(--color1);
	background: var(--white);
	color: var(--color1);
}
.success a:hover, .success a:focus{
	background: var(--color1);
	color: var(--white);
}

.success2 a{
	border: solid 2px var(--color1);
	background: var(--color1);
	color: var(--white);
}
.success2 a:hover, .success2 a:active{
	border: solid 2px #29F2CA;
	background: #29F2CA;
	color: var(--gray1);
}

.danger a{
	color: var(--color3);
}
.danger a:hover, .danger a:focus{
	background: var(--color3);
	color: var(--white);
}
.danger1 a{
	color: var(--color3);
	border: solid 2px var(--color3);
}
.danger1 a:hover, .danger1 a:focus{
	background: var(--color3);
	color: var(--white);
}

/* MEDIA QUERIES (BASADAS EN UNAH) */
@media (max-width:480px){
	.normal-cont  p, .normal-cont  h2, .normal-cont h1{
		text-align: left;
	}
	.normal-cont  p{
		text-align: justify;
	}
 .flexContainer  p, .flexContainer  h2, .flexContainer h1{
		text-align: left;
	}
	.flexContainer  p{
		text-align: justify;
	}
}

@media (min-width:481px) and (max-width: 768px){
	/*buttons*/
	.paddingL, .paddingR{
		padding: 1rem;
	}
	/*buttons*/
}

@media (min-width: 769px){
	.normal-cont{
		padding: 2rem 5vw;
	}
}
/* MEDIA QUERIES (BASADAS EN UNAH) */